*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*

.vscode/
.venv/
exterior_data/socratica_secrets.json
persistencia/mongo.json
exterior_data/datasets/covid_big_data.feather
