{% extends 'base.html' %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Bienvenida</title>
    {% endblock title %}
    <!-- Agrega el enlace a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 

</head>
<body>
    {% block content %}
    <div class="seccion-azul" style="background-color: #1F3777; color: white; text-align: left;  width: 131.63%; height: 469px; left: -205px; right: 0; bottom: -60px; padding-top: 0px; padding-bottom: 0px; padding-left: 138px; padding-right: 254px; position: relative; top: 160px;" >
        <img src="https://media.discordapp.net/attachments/940248512053010483/1151655377088294912/doc.png?width=625&height=561"  alt="Imagen" style="position: relative; width: 631; right: -256px; bottom: 120px; top: 20px;">
        <h1 style="font-size: 50px; font-weight: bold; margin: 0; padding: 0; position: absolute; top: 19%; left: 819px;">¿Estás enfermo?</h1>
        <p style="font-size: 23px; line-height: 1; text-align: center; padding-top: 20px; font-weight: lighter; position: absolute; top: 35%; left: 46%; width: 460px; height: 79px;">
            <!-- Tu texto aquí -->
            ¿No te sientes bien y te han diagnosticado? envianos tu reporte, ayuda tu comunidad brindado la informacion de tu padecimiento.
        </p>
        <div style="position: absolute; left: 52%; top: 60%;">
            <a href="/reportes/">
                <button class="btn btn-primary" style="width: 236px; height: 50px; font-weight: bold; font-size: 20px;">Reporta</button>
            </a>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
