<!DOCTYPE html>
<html lang="es">

{% extends 'base.html' %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Mostrar mapa</title>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    #map-container {
      height: 70vh;
      width: 130%;
      margin-top: 40px;
      margin-left: -13%
    }

    #map {
      height: 100%;
    }
  </style>
  {% endblock title %}
</head>

<body>
  {% block content %}
  {% load static %}

  <div id="map-container">
    <div id="map" style="margin-top: 149px;"></div>
  </div>

  <script>
    mapboxgl.accessToken = '{{ MAP_BOX_TOKEN }}';

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/navigation-preview-night-v4',
      center: [-75.5658, 6.2476],
      zoom: 13
    });

    var casosEnfermedad = {{ comunas | safe }};

    var circleLayer = {
      id: 'circles',
      type: 'circle',
      source: {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: casosEnfermedad.map(function (caso) {
            return {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: caso.coordenadas,
              },
              properties: {
                title: caso.nombre,
                description: caso.descripcion,
              },
            };
          }),
        },
      },
      paint: {
        'circle-radius': 26,
        'circle-color': 'red',
        'circle-opacity': 0.4,
      },
    };

    map.on('load', function () {
      map.addLayer(circleLayer);

      map.on('click', 'circles', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        new mapboxgl.Popup().setLngLat(coordinates).setHTML('<h3>' + e.features[0].properties.title + '</h3><p>' + description + '</p>').addTo(map);
      });

      map.on('mouseenter', 'circles', function () {
        map.getCanvas().style.cursor = 'pointer';
      });

      map.on('mouseleave', 'circles', function () {
        map.getCanvas().style.cursor = '';
      });
    });

  </script>
  {% endblock content %}
</body>

</html>