<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Mostrar Elementos</title>
    {% endblock title %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Agrega el enlace a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    {% block content %}
    {% load static %}


    <div class="seccion-azul"
        style="background-color: #1F3777; color: white; text-align: left;  width: 124.45%; height: 300px; left: -205px; right: 0; bottom: -60px; padding-top: 0px; padding-bottom: 0px; padding-left: 138px; padding-right: 254px; position: relative;">
        <img src="https://cdn.discordapp.com/attachments/1136705042410381404/1161752242215465020/image.png?ex=65397116&is=6526fc16&hm=b3be5dcf262fc0b7e4cb338c039aaa2845db9c6164c947f24c61c7e854b44b26&"
            alt="Imagen" style="position: relative; width: 1000; right: -120px; bottom: 120px; top: 2px;">
        <h1
            style="font-size: 50px; font-weight: bold; margin: 0; padding: 0; position: absolute; top: 20%; left: 844px;">
            Analiza los casos</h1>
        <p
            style="font-size: 23px; line-height: 1; text-align: center; padding-top: 20px; font-weight: lighter; position: absolute; top: 37%; left: 50%; width: 460px; height: 79px;">
            <!-- Tu texto aquí -->
            Analiza los casos activos de {{ enfermedad }} reportados por profesionales de salud a través de los gráficos
            y mantente informado
        </p>
        <div style="position: absolute; left: 59%; top: 79%;">
            <a href="/visualizacion/bienvenida/">
                <button class="btn btn-primary"
                    style="width: 200px; height: 50px; font-weight: bold; font-size: 20px;">Regresar</button>
            </a>
        </div>
    </div>

    <div class="contenedor" style="width: 1200px; height: 494px; margin-top: 90px; left: 90px;">
        {% for plot_div in plotdivs %}
        {{ plot_div|safe }}
        {% endfor %}
    </div>  

    <p style="height: 1350px;">  </p>

    {% endblock content %}

</body>

</html>